<a href="https://colab.research.google.com/github/ZiYu-Huang/Practices-for-Beginners/blob/main/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

先由pandas具有的基本資料結構Series與DataFrame來做介紹

#Series
像是一維陣列物件，但具有index(資料標籤)

In [19]:
test = pd.Series(['one','two','three','four']) #建立Series時用到pandas的Series方法，後方參數需要放入序列物件

In [25]:
test #輸出左邊那排0~3為資料標籤，右邊那排則為我們放入的值
     #若無指定index，則為0~資料個數

0      one
1      two
2    three
3     four
dtype: object

In [7]:
print(test[0]) #以index為索引來取得值
print(test[1])
print(test[2])
print(test[3])

one
two
three
four

In [26]:
test = pd.Series(['one','two','three','four'],index=['A','B','C','D']) #建立.Series可指定index

In [27]:
test

A      one
B      two
C    three
D     four
dtype: object

In [10]:
print(test['A'])
print(test['C'])

one
three

In [11]:
test.index #取得Series的index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [28]:
test.values #取得Series的值

array(['one', 'two', 'three', 'four'], dtype=object)

In [47]:
import numpy as np
test = pd.Series([1,2,3,4],dtype=float) #指定dtype，只需在dtype參數傳入資料型態 #1.22.0版本是dtype = np.float

In [50]:
test.dtype

dtype('float64')

In [52]:
test.astype(int)   #astype可改變原資料型態 #1.22.0版本是dtype = np.long

0    1
1    2
2    3
3    4
dtype: int64

##操作示範
能像之前介紹過操作numpy方式來操作Series，索引、布林索引、全域函式等

In [53]:
test = pd.Series([11,22,33,44],index=['A','B','C','D'])
test

A    11
B    22
C    33
D    44
dtype: int64

In [54]:
test[test>30] #布林索引

C    33
D    44
dtype: int64

In [55]:
test['A']=2 #改值
test

A     2
B    22
C    33
D    44
dtype: int64

In [ ]:
test+1

A     3
B    23
C    34
D    45
dtype: int64

In [ ]:
import numpy as np
np.square(test)

A       4
B     484
C    1089
D    1936
dtype: int64

----------------------------------------------------------