<a href="https://colab.research.google.com/github/ZiYu-Huang/Practices-for-Beginners/blob/main/Day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#建立DataFrmae
像是個二維陣列

具有欄(column)與列(raw)


列就是Day7介紹Series所說的資料標籤

欄就是各column擁有的欄位名稱


DataFrame可說是由Series兩個以上組合而成的
直接看放範例會更清楚

In [ ]:
test = pd.DataFrame({'one':[1,2,3,4],'two':[5,6,7,8],'three':[9,10,11,12]}) #最左邊那排0~3為每列的資料標籤，就跟Series的一樣

In [ ]:
test                                   #最上面那一橫排為每個column的欄位名稱

   one  two  three
0    1    5      9
1    2    6     10
2    3    7     11
3    4    8     12

In [ ]:
#使用pandas的DataFrame方法，後方參數傳入序列物件
test = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]]) #欄位名稱與index若無指派，預設都是0~資料個數
test

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

###指定欄位名稱


**下面兩個範例一樣都是傳入[1,2,3],[4,5,6],[7,8,9]但最後結果不一樣


test_1是將每個陣列傳入一個column


test_2是傳入一個shape(3,3)的陣列，DataFrame會將這二維的陣列照上例程式碼的規則排列

In [ ]:
test_1 = pd.DataFrame({'one':[1,2,3],'two':[4,5,6],'thr':[7,8,9]}) #以dict(字典)的方式傳入
test_1

   one  two  thr
0    1    4    7
1    2    5    8
2    3    6    9

In [ ]:
test_2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['one','two','thr']) #或是以參數的方式傳入
test_2

   one  two  thr
0    1    2    3
1    4    5    6
2    7    8    9

In [ ]:
test_2.columns  #取得columns

Index(['one', 'two', 'thr'], dtype='object')

指派index

In [ ]:
#以字典中再傳入字典的方式
test_1 = pd.DataFrame({ 'one': {'A':1,'B':2,'C':3} , 'two':{'A':4,'B':5,'C':6} } )
test_1

   one  two
A    1    4
B    2    5
C    3    6

In [ ]:
#或以參數方式傳入
test_2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['one','two','thr'],index=['A','B','C'])
test_2

   one  two  thr
A    1    2    3
B    4    5    6
C    7    8    9

In [ ]:
test_2.index #取得index

Index(['A', 'B', 'C'], dtype='object')