<a href="https://colab.research.google.com/github/ZiYu-Huang/Practices-for-Beginners/blob/main/Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#series間的運算
會根據對應index的位置來做互動


如沒有對應的index此位置會被保留並且填上空值

In [3]:
test_1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
test_2 = pd.Series([-1,-2,-3],index=['a','c','e'])

In [ ]:
test_1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
test_2

a   -1
c   -2
e   -3
dtype: int64

In [ ]:
test_1 + test_2  #可看出輸出結果index[a,c,e]這三個位置有輸出結果而不是空值
          #因為test_1、test_2同時擁有這三個index，所以它們之間會做運算
          #而其他不同的index位置被保留但輸出數值是空值

a    0.0
b    NaN
c    1.0
d    NaN
e    2.0
dtype: float64

In [ ]:
test_1 - test_2

a    2.0
b    NaN
c    5.0
d    NaN
e    8.0
dtype: float64

#DataFrame間的運算
會根據欄位名稱及index同時相同的值之間做運算


不同於Series也就只是多出了欄位需要對照


如果沒有同時具有相同的欄位名稱及index，位置會被保留並填上空值

In [ ]:
test_1 = pd.DataFrame([[1,2,3],[3,4,5],[5,6,7]],columns=['one','two','thr'],index=['a','b','c'])
test_2 = pd.DataFrame([[-1,-2],[-3,-4]],columns=['one','two'],index=['a','d'])

In [ ]:
test_1

   one  two  thr
a    1    2    3
b    3    4    5
c    5    6    7

In [ ]:
test_2

   one  two
a   -1   -2
d   -3   -4

In [ ]:
test_1 + test_2 #可看出同時相同的欄位為one、two，而index同時擁有的只有a
          #所以輸出結果除了這兩個位置其他都被填上空值了

   one  thr  two
a  0.0  NaN  0.0
b  NaN  NaN  NaN
c  NaN  NaN  NaN
d  NaN  NaN  NaN

In [ ]:
test_1 * test_2

   one  thr  two
a -1.0  NaN -4.0
b  NaN  NaN  NaN
c  NaN  NaN  NaN
d  NaN  NaN  NaN

#DataFrame與Series間的運算
此兩者間的運算就像是之前numpy介紹過的廣播:DataFrame為二維資料、Series為一維資料。

Series會分別對DataFrame的index，也就是分別對每個raw做運算

而Series的index會對照到DataFrame的欄位名稱來做運算

In [ ]:
test_1 = pd.DataFrame([[1,2,3],[3,4,5],[5,6,7]],index=['a','b','d'])
test_2 = pd.Series([-12,-24,-36])

In [ ]:
test_1

   0  1  2
a  1  2  3
b  3  4  5
d  5  6  7

In [ ]:
test_2

0   -12
1   -24
2   -36
dtype: int64

In [ ]:
test_1 + test_2 
#輸出結果 1+(-12) , 2+(-24) , 3+(-36)
#     3+(-12) , 4+(-24) , 5+(-36)
#     5+(-12) , 6+(-24) , 7+(-36)

    0   1   2
a -11 -22 -33
b  -9 -20 -31
d  -7 -18 -29

In [ ]:
test_1 * test_2
#輸出結果 1*(-12) , 2*(-24) , 3*(-36)
#     3*(-12) , 4*(-24) , 5*(-36)
#     5*(-12) , 6*(-24) , 7*(-36)

    0    1    2
a -12  -48 -108
b -36  -96 -180
d -60 -144 -252

In [5]:
test_1 = pd.DataFrame([[1,2,3],[3,4,5],[5,6,7]])
test_2 = pd.Series([-12,-24,-36])

In [9]:
print(test_1)
print(test_2)
test_1 + test_2 
#輸出結果 1+(-12) , 2+(-24) , 3+(-36)
#     3+(-12) , 4+(-24) , 5+(-36)
#     5+(-12) , 6+(-24) , 7+(-36)

   0  1  2
0  1  2  3
1  3  4  5
2  5  6  7
0   -12
1   -24
2   -36
dtype: int64

    0   1   2
0 -11 -22 -33
1  -9 -20 -31
2  -7 -18 -29